@model BindReader.Class
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<h2>@Model.Name</h2>
@foreach (var item in Model.Items)
{
    <div>
        <h2>@item.Language</h2>
        <h2>@item.Tool</h2>
    </div>
}
<body>
</body>
</html>